$font-stack: Helvetica, sans-serif;
$btn-color-blue: #3653a2!important;
$btn-color-red: #e00404!important;
$btn-color-orange: #ff6100!important;
$layout-breakpoint-tablet: 600px;
$layout-breakpoint-movil: 400px;
$btn-color-white: #fff!important;
@mixin btn-form-map {
  padding: 8px;
  text-align: center;
  width: 100%;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  border: 0px!important;
  color: $btn-color-white;
}

@mixin container-map-general {
  margin: auto;
  margin-top: 6%;
  background: $btn-color-white;
  padding: 10px;
  border-radius: 4px;
}

@mixin btn-general-submit {
  background: $btn-color-blue;
  padding: 6px 10px!important;
  text-align: center;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  z-index: 9999999;
  position: fixed!important;
  left: 0px!important;
  right: 0px!important;
  margin: auto!important;
  margin-top: -60px !important;
  color:$btn-color-white
}

@mixin font-size-btn{
  font-size: 11px!important;
}


.input-text-address input{
  height: 40px!important;
  margin-bottom: 0px!important;
}
.container-map-address .btn-submit-map-send {
  width: 400px;
  @include btn-general-submit
}

.title-map-center {
  text-align: center;
  color: #757575;
  margin-top: 30px;
}

.img-logo-map {
  width: 150px;
  margin: auto;
  text-align: center;
  display: block;
}

.icon-pointers-map {
  color: $btn-color-red;
}

.container-sidebar-map {
  background: #ebebeb !important;
  color: #666 !important;
  position: inherit;
  padding: 10px;
  width: 100%;
  line-height: 20px;
  margin-top: -100px;
  z-index: 99999;
  height: 100px;
}

.container-map-address .btn-submit-map-cancel {
  background: $btn-color-red;
  @include btn-form-map;
}


.container-map-address .btn-submit-map {
  background: $btn-color-blue;
  @include btn-form-map;
}

.container-map-address .btn-back-cart {
  background: $btn-color-orange;
  color: $btn-color-white;
  text-decoration: none !important;
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
}


.container-map-address {
  font: 100% $font-stack;
  background: $btn-color-white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  color: $btn-color-white;
  z-index: 999999;
}

.travel-map {
  height: 400px;
  height: 400px;
  width: 100%;
  margin: auto;
}

.loader-text {
  color: #8d8d8d;
  text-align: center;
}

.container-map {
  width: 600px;
  @include container-map-general;
}

h1:not(.site-title)::before, h2::before {
  display: none
}
.lds-tiplle-container{
  margin: auto auto;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 34%;
  background: $btn-color-white;
  width: 220px;
  padding: 40px;
  text-align: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  margin: auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #5a5a5a;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


@media (max-width: $layout-breakpoint-tablet) {
  .container-map {
    width: 90%;
    @include container-map-general;
  }

  .container-map-address .btn-submit-map{
    @include font-size-btn
  }

  .container-map-address .btn-submit-map-cancel{
    @include font-size-btn
  }

  .container-map-address .btn-back-cart{
    @include font-size-btn
  }

  .container-map-address .btn-submit-map-send {
    width: 300px;
    @include btn-general-submit
  }

  .title-map-center {
    margin: auto;
    margin-top: 0px !important;
  }

  .container-sidebar-map {
    background: $btn-color-orange;
    color: $btn-color-white;
    position: inherit;
    padding: 10px;
    width: 100%;
    line-height: 20px;
    margin-top: -150px;
    z-index: 99999;
    height: 150px;
    font-size: 12px;
    text-align: center;
  }


}

@media (max-width: $layout-breakpoint-movil) {
  .container-map {
    width: 95%;
    @include container-map-general;
  }

  .container-map-address .btn-submit-map-send {
    width: 220px;
    @include btn-general-submit
  }

  .title-map-center {
    margin: auto;
    margin-top: 0px !important;
  }

  .title-map-center {
    font-size: 12px;
  }

  .img-logo-map {
    width: 100px;
  }


}